<%- include("partials/header.ejs") %>
<h1>About Me</h1>
<img class="profile" src="images/cat.jpeg" alt="cat profile">
<p>
  <p>sweta.roy.chowdhury.fiem.cse21@teamfuture.in 
    |+91 8100352898 | (3)sweta roy chowdhury | LinkedIn | Your Repositories (github.com) 
    </p>
    <p>Skills :</p>
    <ul>
      <p>
        LANGUAGES : C , JAVA , JavaScript ,HTML ,CSS , Python(Fundamentals)
      </p>
      <p>
        Frameworks & Libraries : jQuary , Application Programming Interface(API) ,Embadded JavaScript(EJS), Express.js, Node.js, React.js , Bootstrap
      </p>
      <p>
        Database : SQL
      </p>
    </p>
    </p>
    <p>PROJECTS :
      
        <p>Profile Website</p>
        <p>Simple profile website </p>
        <p>Employee-Management website – Group Project (as Front-End developer)
        </p>
        <p>Working on E-Commerce website
        </p>
        <p>Self-Diagnosis-System - Group Project (as Database Analysist)   
        </p>
      </ul>
    </p>
 
 .</p>
 <%- include("partials/footer.ejs") %>