<%- include("partials/header.ejs") %>


  <h1>Home Page</h1>

  <p> Hi , I'm Sweta Roy Chowdhury
  </p>
  
    <p>
      MY Extra-Curricular Activities are :
    </p>
    <p>
      Drama , art , volleyball, badminton, volunteer , club PR head , member of film club ,coding , hackathons ,workshops
    </p>
    <p>
      In the upcomming pages , I will provide you about my information.
      .</p>
  <%- include("partials/footer.ejs") %>